.header {
  color: var(--primary-color-400);
  background-color: var(--primary-color-200);
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  padding-inline: var(--spacing-medium);
}

.header h1 {
  font-size: var(--font-medium);
  margin-block: var(--spacing-small);
}

.header > :first-child {
  margin-right: auto;
}

.header a {
  text-align: center;
  color: var(--primary-color-400);
}
.header a:hover {
  color: var(--primary-color-400);
  text-decoration: underline;
}

.header button {
  text-align: center;
  color: var(--primary-color-400);
  background-color: var(--primary-color-200);
  padding: 0;
}
.header button:hover {
  text-decoration: underline;
  border: solid transparent;
}

@media (max-width: 500px) {
  .header {
    flex-wrap: wrap;
    gap: var(--spacing-small) var(--spacing-medium);
    justify-content: space-evenly;
    text-align: center;
    font-size: 14px;
    padding: var(--spacing-small);
  }

  .header :first-child {
    width: 100%;
    margin-inline: auto;
  }
}
