.section {
  height: 250px;
  background-color: var(--primary-color-200);
  padding: var(--spacing-small) var(--spacing-medium);
  word-wrap: break-word;
}
.section:hover {
  box-shadow: darkgray 0 0 10px;
}

.meta {
  margin-top: -20px;
}
