.section {
  height: 300px;
  background-color: var(--primary-color-100);
  padding: var(--spacing-small) var(--spacing-medium);
}
.section:hover {
  box-shadow: darkgray 0 0 10px;
}

.meta {
  margin-top: -20px;
}

.description {
  height: 200px;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
