.header {
  color: var(--primary-color-400);
  background-color: var(--primary-color-300);
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  padding-inline: var(--spacing-medium);
}

.header h1 {
  font-size: var(--font-medium);
  margin-block: var(--spacing-small);
}

.header > :first-child {
  margin-right: auto;
}

.header a {
  color: var(--primary-color-400);
}
.header a:hover {
  color: var(--primary-color-400);
  text-decoration: underline;
}

.header button {
  color: var(--primary-color-400);
  padding: 0;
}
.header button:hover {
  text-decoration: underline;
  border: solid transparent;
}
