.section {
  display: block;
  color: var(--primary-color-400);
  height: 300px;
  background-color: var(--primary-color-100);
  padding: var(--spacing-small) var(--spacing-medium);
  position: relative;
}
.section:hover {
  cursor: pointer;
  box-shadow: darkgray 0 0 10px;
}
.section:focus {
  box-shadow: darkgray 0 0 10px;
}

.section p,
.section h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -30px;
}

.meta p {
  max-height: 45px;
}

.description {
  height: 100px;
  overflow-wrap: break-word;
}

.bottom {
  position: absolute;
  bottom: 20px;
}

@media (max-width: 500px) {
  .section {
    padding: var(--spacing-small);
  }
  .section p {
    font-size: 14px;
  }
}
