.section {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: var(--spacing-large);
}

.content {
  text-align: left;
  overflow-wrap: break-word;
}

.meta {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-small);
}
