.section {
  display: grid;
  grid-template: 30px 1fr 30px / 1fr 40px 40px;
  padding: var(--spacing-small) var(--spacing-medium);
}

.section > p {
  overflow-wrap: break-word;
  padding-left: 8px;
}

.content {
  grid-column: 1 / 4;
}

.top {
  display: grid;
  grid-template-columns: 1fr 40px 40px;
}
