.ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: var(--spacing-small);
  width: 100%;
  padding: var(--spacing-small);
}

.ul li {
  list-style: none;
}

@media (max-width: 400px) {
  .ul {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
